#containerCart{
    width: 100%;
    border-collapse: collapse;
}



#cartHead{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size:xx-large;
    font-weight:bolder
}

#bigContainer{
    height: 92vh;
    background-color: tan;
}

#containerCart,th,td{
    border: 1px solid black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.headline{
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    width: 20%;
}


.fa-trash{
    cursor: pointer;
}
#btnReset{
    background-color: steelblue;
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 7px;
    cursor: pointer;
}

