#bigFormContainer{
    width: 100%;
    height: 92vh;
    background-color: tan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



#formContainer{
    font-family: 'Poppins', sans-serif;
    border: solid #5d4954 3px;
    width:50%;
    height: 70%;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    background-color: #5d4954;
    border-radius: 25px;
}

.inpt{
    width: 70%;
    height: 40%;
    border-radius: 5px;
}

#btnForm{
border-radius: 5px;
background-color: #5d4954;
color: rgb(235, 232, 232);
}

